body {
    font-family: "Roboto", sans-serif;
}

main {
    height: 100vh;
    overflow-y: auto;
}


.my_side_container {
    height: calc(100vh - 100px);
    width: 130px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    position: absolute;
    bottom: 0;
}

.my_nav_bar {
    height: px;
    background-color: aqua  ;
    position: fixed;
    top: 0;
    width: 100%;
    
    align-items: center;
    z-index: 1;

}



.my_small_logo {
    width: 70px;
    height: 70px;
}

.my_logo {
    width: 120px;
    min-height: 70px;
}

.extra-elements i {
    color: #5b5858;
}

.fa-bell {
    color: orange;
    text-decoration: none;
    border: none;
}

div.my_nav_bar > nav > div > a.d-flex.align-items-center {

    text-decoration: none;
}

.input-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-icon-container .fa-search {
    position: absolute;
    left: 10px;
    color: #ccc;
}

.input-icon-container .form-control {
    padding-left: 30px;
    width: calc(100% - 20px);
}

.input-icon-container .form-control::placeholder {
    font-size: 0.8rem;
    background-color: li;
}


.side-icons-list {
   
    color: white;
    
    margin-top: 1rem;
    padding-left: 0;
}

.side-icons-list li{
    align-items: center;
    display: flex;
    margin: 0.5rem 0;
    justify-content: flex-start;
    display: flex;
}

.side-icons-list li::marker{
    content: 's';

}


.side-icons-list i {
    margin: 5px 5px;
    
}

.main_content {
    margin-top: 100px;
    margin-left: 130px;
}

.boolean {
    background-color: #1b72e8;
    
    color: white;
}

.my_badge {
    font-size: 0.5rem;
    background-color: #155ab9;
}


.colonna_nome {
    width: 60% !important;

}

.altre_colonne {
    width: 10%;
    
}

th, td {
    font-size: 0.7rem;
    font-weight: 500;
}

.table-img {
    width: 20px;
    margin-right: 0.5rem;
}
.table {
    margin-bottom: 0
}

.boolean-title {
   
}



.title p{
    margin-bottom: 0;
    
    font-size: 1.5rem;
}

.under_badges {
        line-height: initial;
        margin-bottom: 0.8rem;
     
}

.active-students-title {
    font-size: 0.8rem;
}


.new_student p {
    font-size: 0.8rem;
}

.plus_button {
    font-size: 0.3rem;
    background-color: red;
    padding: 0 ;
    radius: 50%;
}