body {
    font-family: "Roboto", sans-serif;
}



.my_side_container {
    height: calc(100vh - 100px);
    width: 130px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    position: absolute;
    bottom: 0;
}

.my_nav_bar {
    height: 100px;
    background-color: aqua  ;
    position: fixed;
    top: 0;
    width: 100%;
    border: 3px solid red;
    align-items: center;
}

.my_small_logo {
    width: 70px;
    height: 70px;
}

.my_logo {
    width: 120px;
    min-height: 70px;
}

.fa-bell {
    color: orange;
    text-decoration: none;
    border: none;
}

div.my_nav_bar > nav > div > a.d-flex.align-items-center {

    text-decoration: none;
}



.side-icons-list {
   
    color: white;
    
    margin-top: 1rem;
    padding-left: 0;
}

.side-icons-list li{
    align-items: center;
    display: flex;
    margin: 0.5rem 0;
    justify-content: flex-start;
    display: flex;
}

.side-icons-list li::marker{
    content: 's';

}

.side-icons-list i {
    margin: 5px 5px;
    
}

.main_content {
    margin-top: 100px;
    margin-left: 130px;
}

.boolean {
    background-color: blue;
    
    color: white;
}

.colonna_nome {
    width: 60% !important;

}

.altre_colonne {
    width: 10%;
    
}

th, td {
    font-size: 0.7rem;
    font-weight: 500;
}

tbody th::before {
    content: 'i ';
}

.table {
    margin-bottom: 0
}